doctype html
html(lang="hu")
    head
        meta(charset="utf-8")
        meta(name="theme-color" content="#ffffff")
        title Hajduformation.hu
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Hajduformation.hu")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans")
    body
        h1 Hajdú – Apollo Kötelékrepülő Bemutató Team
        p
        | Hajdú Trió néven 2007-ben kezdtünk Hajdúszoboszlón. Klubunk akkor
        | repülőnapot szervezett, de nagyon kevés pénze volt. Hárman, Apollo Fox
        | (hazai gyártású ultralight repülőgép) pilóták összehoztunk egy kötelék-
        | bemutató műsort. Azután folytattuk és sok – sok helyen felléptünk.
        | Börgöndön,Debrecenben,Dunakeszin,Egerben, Érsekújváron,Gyöngyösön,
        | Kecskeméten 2010-ben és 2013-ban is, Miskolcon, Pécsen, Szatmárnémetiben,
        | Szegeden, Szolnokon és még sok helyen. A leg-többen Budapesten 2011 és
        | 2012 augusztus 20-án láthattak bennünket a Duna fölötti kötelék-
        | repülésünkkor.
        p
        | Kis, fordulékony gépeinkkel a tíz perces bemutató műsorunkat végig a
        | közönséghez biztonságosan közel repüljük. Programunk „saját fejlesztésű”
        | egyedi látványos elemeket is tartalmaz, mint a nyílhegy formáció és annak
        | fordított változata. ÉK, longobárd, lépcső és vonal alakzatokat váltogatva
        | repülünk. Erősen döntött fordulókkal, meredekebb süllyedésekkel és
        | emelkedésekkel megyünk el technikánk és saját teljesítőképességünk
        | biztonságos határaihoz.
        p
        | Könnyű, kis felületi terhelésű gépeink nagyon szél érzékenyek. Termikes,
        | lökéses időben az alakzat pontos tartása nagy figyelem összpontosítást kívánó
        | nehéz feladat, igazi kihívás. Talán ezért sincs sem a közelben, sem távolabb
        | olyan csapat, amelyik ilyen kis könnyű gépekkel kötelékben repülne.
    include scriptloading.html
    include tracking.html
